.flex{
 display: flex;
 flex-direction: row;
 justify-content: space-around;      
}

/* Button{
    margin-right: 100px;
    height: 40px;
    width: auto;
} */

.btn{
    margin-right: 25px;
    height: 40px;
    width: auto;
}
